<body class="bg-dark">
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered text-light">
        <div class="modal-content bg-custom">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Animal</h1>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body d-flex flex-wrap row-gap-4">
            <div class="col-6">
              <div><small>Solicitante:</small></div>
              <div>{{solicitacao?.nomeSolicitante}}</div>
            </div>
    
            <div class="col-6">
              <div><small>Animal:</small></div>
              <div>{{solicitacao?.animal?.nome}}</div>
            </div>

            <div class="col-6">
                <div><small>Celular:</small></div>
                <div>{{solicitacao?.celular}}</div>
              </div>

            <div class="col-6">
                <div><small>Sexo do Animal:</small></div>
                <div>{{solicitacao?.animal?.sexo}}</div>
              </div>

              <div class="col-6">
                <div><small>E-mail:</small></div>
                <div>{{solicitacao?.email}}</div>
              </div>
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
              Fechar
            </button>
          </div>
        </div>
      </div>
    </div>
    </body>